#payout_requests {
  /*position: relative;*/
}

 #pay_selected_users_block {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 100;
  background-color: rgba(248, 249, 252, 0);
  padding: 45px 10px;
  transition: all 1s ease-in;
  transform: translateX(100%);
}

#pay_selected_users_block.show_block {
  transform: unset;
  background-color: rgb(248, 249, 252);
}

#pay_selected_users_block #pay_selected_users {
}

